{% extends "base.html" %}
{% block content %}
<style>
   .titel {
      color: #29a19c;
   }
   .form {
      color: #393e46;
      text-align: justify;
   }
   .button {
      text-align: center;
   }
</style>

<div class="base verylight">
    <div class="titel">
       Projekt editieren
    </div>
<div class="form">
    <form name="projekt" action="edit_project" method="post">
        <div class="form-group">
            <label for="titel">Titel</label>
            <input type="text" class="form-control" name="titel" value="{{ titel }}" maxlength=30 required>
            {% if warningTitel %}
            <span style="font-family: 'Roboto', sans-serif; font-size: 0.5em; color: red;">Titel darf nicht leer sein und darf nicht 30 Buchstaben überschreiten.</span>
            {% endif %}
        </div>
        <div class="form-group">
            <label for="limit">Finanzierungslimit</label>
            <input type="number" step="0.01" min=0 class="form-control" name="finanzierungslimit" value="{{ finanzierungslimit }}">
            {% if warningLimit %}
            <span style="font-family: 'Roboto', sans-serif; font-size: 0.5em; color: red;">Finanzierungslimit muss eine Zahl sein (mindestens 100 und höher als den vorherigen Limit).</span>
            {% endif %}
        </div>
        <div class="form-group">
            <label for="kategorie">Kategorie</label>
            <select class="form-control" name="kategorie">
                <option value="1" {{ health }}>Health & Wellness</option>
                <option value="2" {{ art }}>Art & Creative Works</option>
                <option value="3" {{ edu }}>Education</option>
                <option value="4" {{ tech }}>Tech & Innovation</option>
            </select>
        </div>
        
        <div class="form-group">
            <label for="vorgaenger">Vorgänger</label>
            <select class="form-control" name="vorgaenger">
                {% if before %}
                    {% for vor in vorgaenger %}
                        {% if vor[0] == before %}
                        <option value="{{ vor[0] }}" selected>{{ vor[1] }}</option>
                        {% else %}
                        <option value="{{ vor[0] }}">{{ vor[1] }}</option>
                        {% endif %}
                    {% endfor %}
                    <option value="0">Kein Vorgänger</option>
                {% else %}
                    {% for vor in vorgaenger %}
                        <option value="{{ vor[0] }}">{{ vor[1] }}</option>
                    {% endfor %}
                <option value="0" selected>Kein Vorgänger</option>
                {% endif %}
            </select>
        </div>

        <div class="form-group">
            <label for="beschreibung">Beschreibung </label>
            <textarea class="form-control" name="beschreibung" rows="3">{{ beschreibung }}</textarea>
        </div>
        <div class="button">
            <button class="btn btn-info" type="submit" style="background-color: #29a19c" name="editProject" value="{{ kennung }}">Aktualisieren</button>
        </div>
        <div class="form-group" style="visibility: hidden;">
            <input type="text" class="form-control" name="kennung" value="{{ kennung }}">
        </div>
    </form>
{% endblock %}

<!-- <body>
	<div id="wrapper">
		<div id="header">
		<h1> Projekt editieren </h1>
        </div>
        <div id="form">
            <form name="projekt" action="edit_project" method="post">
                Titel: <input type="text" name="titel" value="{{ titel }}"><br>
                Finanzierungslimit: <input type="text" name="finanzierungslimit" value="{{ finanzierungslimit }}"><br>
                Kategorie:<br>
                <input type="radio" name="kategorie" value=1 {{ health }}>Health & Wellness<br>
                <input type="radio" name="kategorie" value=2 {{ art }}>Art & Creative Works<br>
                <input type="radio" name="kategorie" value=3 {{ edu }}>Education<br>
                <input type="radio" name="kategorie" value=4 {{ tech }}>Tech & Innovation<br>
                {% if vorgaenger %}
                Vorgänger:<br>
                   {% for vor in vorgaenger %}
                    {% if vor[0] == before %}
                        <input type="radio" name="vorgaenger" value="{{ vor[0] }}" checked>{{ vor[1] }}<br>
                    {% else %}
                        <input type="radio" name="vorgaenger" value="{{ vor[0] }}">{{ vor[1] }}<br>
                    {% endif %}
                   {% endfor %}
                {% endif %}
                Beschreibung:<br>
                <textarea rows=5 cols=50 name="beschreibung">{{ beschreibung }}</textarea><br>
                <button type="submit" name="kennung" value="{{ kennung }}">Aktualisieren</button>
            </form>
        </div>
	</div>
</body>
</html> -->