{% extends "base.html" %}
{% block content %}
{% if projekte %}
<div class="base dark">
    <div class="titel">Suchergebnisse</div>
    <br>
    <div id="carousel" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            {% for projekt in projekte %}
                {% if loop.index0 == 0 %}
                <li data-target="#carousel" data-slide-to="{{ loop.index0 }}" class="active"></li>
                {% else %}
                <li data-target="#carousel" data-slide-to="{{ loop.index0 }}"></li>
                {% endif %}
            {% endfor %}
        </ol>
        <div class="carousel-inner">
        {% for projekt in projekte %}
            {% if loop.index0 == 0 %}
            <div class="carousel-item active">
                <div class="imgProjekt"><img src="{{ projekt[4] }}"></div>
                <div class="imgProjektCaption">
                    <form action="view_project" method="get"><button name="kennung" value="{{ projekt[0] }}">{{ projekt[1] }}</button></form>
                    <br>
                    <form action="view_profile" method="get"><button name="benutzer" value="{{ projekt[5] }}">Von: {{ projekt[2] }}</button></form>
                    <p>Aktuell: {{ projekt[6] }} €</p>
                    <p>Status: {{ projekt[3] }}</p>
                </div>
            </div>
            {% else %}
            <div class="carousel-item">
                <div class="imgProjekt"><img src="{{ projekt[4] }}"></div>
                <div class="imgProjektCaption">
                    <form action="view_project" method="get"><button name="kennung" value="{{ projekt[0] }}">{{ projekt[1] }}</button></form>
                    <br>
                    <form action="view_profile" method="get"><button name="benutzer" value="{{ projekt[5] }}">Von: {{ projekt[2] }}</button></form>
                    <p>Aktuell: {{ projekt[6] }} €</p>
                    <p>Status: {{ projekt[3] }}</p>
                </div>
            </div>
            {% endif %}
        {% endfor %}
        </div>
        <a class="carousel-control-prev" href="#carousel" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carousel" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
        </a>
    </div>
</div>
{% elif warning == True %}
<div class="base dark">
    <h2 style="color: #f3ecd3;">Bitte einen gültigen Text eingeben!</h2>
</div>
{% else %}
<div class="base dark">
    <h2 style="color: #f3ecd3;">Keine Ergebnisse!</h2>
</div>
{% endif %}
{% endblock %}