{% extends "base.html" %}
{% block content %}
<div class="header verylight">
    <h1>{{ email }}</h1>
    <h3>Benutzername: {{ name }}</h3>
    <h3>Anzahl erstellter Projekte: {{ noErstellt }}</h3>
    <h3>Anzahl unterstützter Projekte: {{ noUnterstuetzt }}</h3>
</div>
{% if erstellt %}
<div class="base light">
    <div class="titel">Erstellte Projekte</div>
    <br>
    <div id="carousel" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            {% for er in erstellt %}
                {% if loop.index0 == 0 %}
                <li data-target="#carousel" data-slide-to="{{ loop.index0 }}" class="active"></li>
                {% else %}
                <li data-target="#carousel" data-slide-to="{{ loop.index0 }}"></li>
                {% endif %}
            {% endfor %}
        </ol>
        <div class="carousel-inner">
        {% for er in erstellt %}
            {% if loop.index0 == 0 %}
            <div class="carousel-item active">
                <div class="imgProjekt"><img src="{{ er[4] }}"></div>
                <div class="imgProjektCaption">
                    <form action="view_project" method="get"><button name="kennung" value="{{ er[0] }}">{{ er[1] }}</button></form>
                    <p>Aktuell: {{ er[2] }} €</p>
                    <p>Status: {{ er[3] }}</p>
                </div>
            </div>
            {% else %}
            <div class="carousel-item">
                <div class="imgProjekt"><img src="{{ er[4] }}"></div>
                <div class="imgProjektCaption">
                    <form action="view_project" method="get"><button name="kennung" value="{{ er[0] }}">{{ er[1] }}</button></form>
                    <p>Aktuell: {{ er[2] }} €</p>
                    <p>Status: {{ er[3] }}</p>
                </div>
            </div>
            {% endif %}
        {% endfor %}
        </div>
        <a class="carousel-control-prev" href="#carousel" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carousel" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
        </a>
    </div>
</div>
{% endif %}
{% if unterstuetzt %}
<div class="base dark">
    <div class="titel">Unterstützte Projekte</div>
    <br>
    <div id="carousel" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            {% for un in unterstuetzt %}
                {% if loop.index0 == 0 %}
                <li data-target="#carousel" data-slide-to="{{ loop.index0 }}" class="active"></li>
                {% else %}
                <li data-target="#carousel" data-slide-to="{{ loop.index0 }}"></li>
                {% endif %}
            {% endfor %}
        </ol>
        <div class="carousel-inner">
        {% for un in unterstuetzt %}
            {% if loop.index0 == 0 %}
            <div class="carousel-item active">
                <div class="imgProjekt"><img src="{{ un[4] }}"></div>
                <div class="imgProjektCaption">
                    <form action="view_project" method="get"><button name="kennung" value="{{ un[0] }}">{{ un[1] }}</button></form>
                    <p>Limit: {{ un[2] }} €</p>
                    <p>Status: {{ un[3] }}</p>
                    <p>Gespendet: {{ un[5] }} €</p>
                </div>
            </div>
            {% else %}
            <div class="carousel-item">
                <div class="imgProjekt"><img src="{{ un[4] }}"></div>
                <div class="imgProjektCaption">
                    <form action="view_project" method="get"><button name="kennung" value="{{ un[0] }}">{{ un[1] }}</button></form>
                    <p>Limit: {{ un[2] }} €</p>
                    <p>Status: {{ un[3] }}</p>
                    <p>Gespendet: {{ un[5] }} €</p>
                </div>
            </div>
            {% endif %}
        {% endfor %}
        </div>
        <a class="carousel-control-prev" href="#carousel" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carousel" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
        </a>
    </div>
</div>
{% endif %}
{% endblock %}